.dashboard-container {
	width: 82%;
}

.dashboard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px;
}

.dashboard-header h3 {
	font-size: 24px;
	font-weight: 600;
}

.dashboard-buttons {
	display: flex;
	justify-content: space-between;
	margin-left: 25px;
}

.dashboard-filters {
	display: flex;
	align-items: center;
	margin-left: 30px;
}

.buttons__filters {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.filters__show {
	margin-right: 125px;
}

.filters__show span,
.filters__quick span {
	display: flex;
	align-items: center;
}

.filters__show span p,
.filters__show span a {
	margin-right: 15px;
	font-size: 16px;
	padding: 5px;
}
.filters__show span a {
	color: #676767;
}

.filter-active {
	color: #6b08a5;
}

.filters__show a:hover {
	background-color: #b9b9b9;
	text-decoration: none;
	border-radius: 5%;
}

.filters__quick span p,
button {
	margin-right: 10px;
}

.buttons__addColumn button {
	display: flex;
	align-items: center;
}

.buttons__addColumn button i {
	margin-right: 8px;
}
.dashboard-columns {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}
.columns__column {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100vh;
	margin: 0px 30px;
}

.column__name {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.column__name span,
.add-task span {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.column__name span i,
.add-task span i {
	margin-right: 10px;
}

div[contenteditable] {
	text-align: left;
	padding: 5px 10px;
}

div[contenteditable]:focus {
	outline: none;
}

div[contenteditable]:hover {
	background-color: #f2f2f2;
	border-radius: 5px;
}

.column__container {
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	border-radius: 15px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-task {
	width: 90%;
	height: 60px;
	background-color: #e9e9e9 !important;
	border-radius: 10px;
	border-color: #e9e9e9 !important;
	margin: 20px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #adadad !important;
}

.add-task:hover {
	background-color: #d1d1d1 !important;
	color: #8d8d8d !important;
}

/*MODAL STYLE*/
.modal-dialog {
	max-width: 55%;
}

.title-name,
.descrp-name {
	display: flex;
	align-items: center;
}
.task-column p {
	color: #676767;
	font-size: 14px;
	padding-left: 35px;
	font-weight: 300;
}

.modal-title-edit,
.modal-title {
	font-weight: 700;
	margin-left: 10px;
}
.modal-title {
	margin-left: 18px;
}

.comments-name {
	display: flex;
	align-items: center;
}

.task-comments {
	margin-top: 40px;
}

.block-edit {
	margin-top: 5px;
	margin-left: 25px;
	font-size: 14px;
	font-weight: 300;
}

.block-edit[contenteditable] {
	background-color: #f2f2f2;
	border-radius: 5px;
	height: 100px;
}

.block-edit[contenteditable]:hover {
	background-color: #e2e2e2;
}

.save-btn {
	background-color: #6b08a5;
	border-color: #6b08a5;
}

.body-columns {
	display: flex;
	margin-right: 20px;
	height: 400px;
}

.modal-body__right {
	display: flex;
	flex-direction: column;
}

.modal-body__right button {
	margin-left: 40px;
	margin-top: 10px;
}
